.grid-cell {
  border: none;
  border-left: 1px solid black;
  border-top: 1px solid black;
  appearance: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.grid-cell--active {
  background-color: bisque;
}

.grid-cell:nth-child(5n) {
  border-right: 1px solid black;
}

.grid-cell:nth-last-child(-n + 5) {
  border-bottom: 1px solid black;
}
