.grid {
  width: 400px;
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 400px;
  margin: 60px auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
