* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.grid {
  display: grid;
  grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 60px auto;
  transform: rotate(-30deg) skew(20deg);
  position: relative;
  width: 240px;
  height: 240px;
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.6);
}

.grid::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 16px;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
    padding: 0px 24px;
  }

  .grid {
    width: 300px;
    max-width: 50%;
    height: 300px;
  }

  .page-content {
    flex-direction: row;
  }
}

@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }

  .grid {
    width: 450px;
    max-width: 50%;
    height: 450px;
  }
}
